<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrainTickets</title>
    <link rel="stylesheet" href="../public/css/informa.css">
</head>

<body>
    <nav class="header">
        <h1 class="azul">
            Train Tiquets
        </h1>
        <ul class="menu1">
            <li class="menu"><a href="/">Cerrar sesion</a></li>
        </ul>


    </nav>

    <div class="forcuenta">
        
    
            <section class="form-cuenta">
                <p class="editar"><b>Informacion usuario</b></p>
              
                <% user.forEach(user)=> { %>

                 <p>Nombre</p>
                 <p><% user.nombre %></p>

                 <p>Apellido</p>
                 <p><% user.apellidos %></p>
             
                <input type="text" name="nombre" placeholder="ingrese nombre nuevo" class="controls" >
                <input type="text" name="apellido" placeholder="ingrese apellido nuevo" class="controls" >

            </section>
     <%   }) %>
      
    </div>


   

</body>

</html>